<br>
<div class="jumbotron user-profile">
  <div class="user-image-div">
    <%= link_to image_tag(@user.avatar_url(128), class:"user-image"), 'https://en.gravatar.com/' %>
  </div>
  <div class="user-info-div">
    <h2><%=@user.name%></h2>
    <h4>Email: <%=@user.email%></h4>
    <h4>Membership Type: <%=@user.role%></h4>
  </div>
  <div class="buttons">
    <% if @user == current_user %>
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'btn btn-success' %>
      <% if @user.standard? %>
        <%= link_to 'Upgrade Membership', new_charge_path, class: 'btn btn-primary'%>
      <% elsif @user.premium? %>
        <%= link_to 'Cancel Premium Membership', charge_cancel_subscription_path(@user), class: 'btn btn-default', method: :post, data: {confirm: "Canceling your subscription will cause all of your private wikis to become public, are you sure you want to cancel?"}%>
      <%end%>
    <%end%>
  </div>
</div>
