<!DOCTYPE html>
<html>
<head>
  <title>Flaxipedia</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs">
      <li><%= link_to "Flaxipedia", root_path %></li>
      <li><%= link_to "About", about_path%></li>
      <li><%= link_to "Wikis", wikis_path%></li>
      <div class="pull-right user-info">
        <% if user_signed_in? %>
          Signed in as: <strong><%= current_user.name %></strong> <br>
          <div class="gravatar pull-left">
            <%= link_to image_tag(current_user.avatar_url(48), class: "gravatar"), "https://en.gravatar.com/" %>
          </div>
          <div class="pull-right">
          <%= link_to 'Profile', user_path(current_user), :class => 'navbar-link' %> <br> <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          </div>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link'  %> <br>
          <%= link_to "Sign In", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
      </div>
    </ul>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>


<%= yield %>
</div>
</body>
</html>
